@use "variables";
@use "mixins-functions";

.special-offers {
    color: variables.$font-color;

    .slider-arrows {
        @include mixins-functions.clearButton;
    }
}

.additional-info {
    color: variables.$font-color;

    & a {
        @include mixins-functions.clearLinks;
    }
}

#background-video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
}



  
 
