@use 'variables';

.special-offers {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);

    .image-slider {
        display: flex;
        justify-content: center;
        align-items: center; 

        .slider-arrows {
            height: clamp(2rem, 5.5vw, 4rem);

            & svg {
                height: 100%;
            }
        }
    }

    .offer-info {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;

        & h4 {
            font-size: clamp(1.5625rem, 1.4236rem + 0.6173vw, 2.1875rem);
            text-align: center;
        }

        & p {
            font-size: clamp(1.25rem, 0.9722rem + 1.2346vw, 2.5rem);
        }

        & h1 {
            font-size: clamp(2.125rem, 1.8472rem + 1.2346vw, 3.375rem);
            text-align: center;
            font-weight: bold;
            text-shadow: 7px 4px 4px rgb(0, 0, 0, 45%);
        }
    }

}

.additional-info {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        font-size: clamp(1rem, 0.7083rem + 1.2963vw, 2.3125rem);
        text-align: center;
    } 
    
    & a > img {
        height: clamp(1.563rem, 1.227vw + 1.286rem, 2.813rem);
        width: clamp(1.563rem, 1.227vw + 1.286rem, 2.813rem);
    }

    & div:first-of-type {
        background-color: #9E9E9EA1;
        border-radius: 5px;
        box-shadow: 4px 1px 5px 0px rgba(0, 0, 0, 1);
        line-height: 1.5;
        padding: 0.5rem;
    }

    & div:last-of-type {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        gap: 10px;

        & a {
            display: flex;
            align-items: center;
            font-size: 17px;
            padding: 0.25rem;
            background-color: #9E9E9EA1;
            border-radius: 5px;
            box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 1);
            gap: 5px;
        }
    }
}

#background-video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

@media (min-width: 937px) {
    .special-offers {
        flex-direction: row;
        align-items: center;
        // padding-left: 8rem;
        // padding-right: 8rem;
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;


        .offer-info {
            gap: 2.2rem;
            // padding-left: 7.5rem;
            // padding-right: 7.5rem;
            text-align: center;
            align-items: center;
        }
    }
}

@media (min-width: 1354px) {
    .special-offers {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (min-width: 1477px) {
    .special-offers {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}


@media (min-width: 1764px) {
    .special-offers {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}