@use "variables";
@use 'mixins-functions';

$icons-height: clamp(1.875rem, 0.962vw + 1.659rem, 2.813rem);
$icons-width: clamp(1.875rem, 0.962vw + 1.659rem, 2.813rem);

.navbar, .navbar-github, .navbar-links, .navbar-cart {
    display: flex;
}

.navbar {
    padding-top: 5px;
    color: variables.$font-color;
    align-items: center;

    .navbar-github {
        margin-left: 10px;
        align-items: center;
    }
    .navbar-github > h2{
        padding-left: 5px;
        font-size: clamp(0.9375rem, 0.8681rem + 0.3086vw, 1.25rem);
    }
    .navbar-github > img {
        width: $icons-width;
        height: $icons-height;
    };

    .navbar-links {
        flex: 1 1;

        & li:first-of-type {
            flex: 1;
            text-align: end;
        }

        :nth-child(2) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        & li:last-of-type {
            flex: 1;
            text-align: left;
        }
        
        & a {
            font-weight: bold;
            color: variables.$font-color;
            font-size: clamp(1.875rem, 1.5139rem + 1.6049vw, 3.5rem);
            text-decoration: none;
            text-decoration-thickness: 3px;
        }
    }

    .navbar-links > li > *.active {
        color:#bfbfbf;
        text-decoration: underline;
    }

    .toogle-cart-btn {
        margin-right: 10px;
        background: transparent;
        height: $icons-height;
        width: $icons-width;
        
        
        > svg {
            @include mixins-functions.buttonStyling;
            width: $icons-width;
            height: $icons-height;
        }
    }
}

@media (max-width: 700px) {
    .navbar-github > h2 {
        display: none;
    }

    
}

@media (min-width: 700px) {
    .toogle-cart-btn {
        margin-left: clamp(4.9375rem, 0.8681rem + 0.3086vw, 1.25rem);
    }
}