@use "variables";

$icons-height: clamp(1.875rem, 0.962vw + 1.659rem, 2.813rem);
$icons-width: clamp(1.875rem, 0.962vw + 1.659rem, 2.813rem);

.navbar, .navbar-github, .navbar-links, .navbar-cart {
    display: flex;
}

.navbar {
    color: variables.$font-color;
    align-items: center;

    .navbar-github {
        align-items: center;
    }
    .navbar-github > h2{
        font-size: clamp(0.9375rem, 0.8681rem + 0.3086vw, 1.25rem);
    }
    .navbar-github > img {
        width: $icons-width;
        height: $icons-height;
    };

    .navbar-links {
        gap: 5%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        
        a {
            color: variables.$font-color;
            font-size: clamp(2.0625rem, 1.2153rem + 3.7654vw, 5.875rem);
            text-decoration: none;
            text-decoration-thickness: 3px;
        }
    }

    .navbar-links > li > *.active {
        color:#bfbfbf;
        text-decoration: underline;
    }

    .toogle-cart-btn {
        background: transparent;
        height: $icons-height;
        
        & * {
            width: $icons-width;
            height: $icons-height;
        }
    }
}

@media (max-width: 700px) {
    .navbar-github > h2 {
        display: none;
    }
}