@use "variables";

$icons-height: clamp(2.188rem, 1.282vw + 1.899rem, 3.438rem);
$icons-width: clamp(2.188rem, 1.282vw + 1.899rem, 3.438rem);

.navbar, .navbar-github, .navbar-links, .navbar-cart {
    display: flex;
}

.navbar {
    color: variables.$font-color;

    .navbar-github > img {
        width: $icons-width;
        height: $icons-height;
    };

    .navbar-links {
        gap: 10px;
        
        a {
            color: variables.$font-color;
            font-size: clamp(2.1875rem, 1.9097rem + 1.2346vw, 3.4375rem);
            text-decoration: none;
            text-decoration-thickness: 3px;
        }
    }

    .navbar-links > li > *.active {
        color:#bfbfbf;
        text-decoration: underline;
    }

    .navbar-cart > button {
        background: transparent;
        height: $icons-height;
        
        & * {
            width: $icons-width;
            height: $icons-height;
        }
    }
}